
body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #cccccc 99%);
}

webview {
  height: 99.9%;
  width: 100%;
  padding: 0;
  margin: 0;
}


video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlay {
  border: 5px solid #AAA;  
  max-width: 30%;
  position: absolute;
  z-index: 1;
}
